@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
    min-height: 100hv;
    /* flex-direction: column; */
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.navbar-brand {
    margin-left: 0 !important;
    align-items: center;
    color: #fff;
}

.navbar-brand img {
    margin-right: 10px;
    height: auto;
    border-radius: 50%;
    border: 2px solid yellow;
    background-color: #fff;
}

nav form .form-control{
    display: inline;
    margin-left: 15px;
    justify-content: end;
}

.navbar-nav .nav-link {
    align-items: center;
    text-align: center;
    padding-right: 10px;
    font-size: 18px;
    border: 2px solid #F4CE14;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    color: #110361;
}

.navbar-nav .nav-link:hover {
    background-color: #F4CE14;
    color: #fff;
}

/* footer area */
.footer {
    background-color: #0A1D56;
    text-align: center;
    padding: 00px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    position: fixed;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
    opacity: 1;
}

/* home page */
.carousel-item img {
    height: auto;
    max-height: 50vh;
    width: 100%;
    margin-top: 2%;
}

/* Services */
.service-card {
    margin-bottom: 20px;
}

.service-card img {
    max-width: 100%;
    height: auto;
}

/* portfolio page */
.portfolio-container {
    margin-top: 50px;
}
.portfolio-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Contact page */
.inner-banner {
    background-color: #F4CE14;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner-banner h1 {
    font-size: 36px;
    color: #110361;
    font-weight: 700;
}

/* Styling for the contact form section */
.contact-form {
    background-color: #f8f9fa;
    align-items:  center;
}

.contact-form h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 30px;
}

/* Styling for the form inputs */
.form-control {
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #007bff;
    padding: 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #F4CE14;
}

/* Styling for the submit button */
.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #F4CE14;
    border-color: #110361;
    color: #fff;
    border-radius: 20px;
    padding: 12px;
    font-size: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #110361;
    border-color: #F4CE14;
}

/* Styling for the callback area */
.callback-area {
    background-color: #110361;
    border: 5px solid #110361;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback-area h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.contact-options {
    background-color: #f8f9fa;
    padding: 0;
}

.contact-item {
    text-align: center;
    border:5px solid #110361;
    border-radius: 20px;
    padding-top: 5px;
}

.icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    color: #F4CE14;
}

.icon-content i {
    font-size: 30px;
    margin-right: 10px;
}

.contact-item i {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-item h5 {
    font-size: 20px;
    color: #110361;
    margin-bottom: 10px;
}

:root {
    --messenger-blue: #0084ff;
    --fb-blue: #3b5998;
    --wa-green: #25d366;
    --instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, 	#fd1d1d 1%, #fdf497 5%, #fd5949 35%,#d6249f 62%,#285AEB 90%);
  }

.social-media{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    background: #fff;
    color: #110361;
    text-align: center;
    font-size: 16px; 
   -webkit-font-smoothing: antialiased;
}
  
  #content4 i {
    font-size: 2rem;
    margin: 0.5rem;
    transition: transform 500ms ease-out;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.5rem 0;
  }
  
  #content4 i:hover {
    transform: translate(0px, -5px);
  }
  
  #content4 .fa-facebook {
    background: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
  }

  #content4 .fa-whatsapp {
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
  }
  
  #content4 .fa-instagram  {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
  }

  /* clients page */
  .client-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.client-container h1 {
    color: #007bff;
}

.client-container .list-group-item {
    cursor: pointer;
}

.client-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.client-details h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #007bff;
}

.client-details p {
    margin: 5px 0;
}