{% extends "mainapp/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}

<section class="inner-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h1>About Tachsol</h1>
            </div>
        </div>
    </div>
</section>

<div class="about-container mt-4">
    <div class="row">
        {% for about in abouts %}
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">{{ about.title }}</h1>
                {% if about.image %}
                    <img src="{{ about.image.url }}" alt="{{ about.title }}" class="img-fluid mb-4">
                {% endif %}
                <p>{{ about.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}