{% extends "mainapp/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}

<section class="inner-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h1>About</h1>
            </div>
        </div>
    </div>
</section>

<div class="about-container mt-4">
    <div class="row justify-content-center">
        {% for about in abouts %}
            <div class="col-md-8">
                <h1 class="text-center mb-4" id="about-text">{{ about.title }}</h1>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% if about.image %}
                            <img src="{{ about.image.url }}" alt="{{ about.title }}" class="img-fluid mb-4" id="about-image">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <p class="about-text">{{ about.content }}</p>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>


{% endblock %}