{% extends "mainapp/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}

<div class="search-popup modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <div class="form-group relative">
                        <input type="text" class="form-control input-search" id="search" placeholder="Search here...">
                        <i class="fas fa-search transform-v-center"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <i class="fas fa-times close-search-modal" data-dismiss="modal" aria-label="Close"></i>
</div>

<section class="inner-banner pt-80 pb-95" style="background-image: url('img/banner/inner-banner.jpg');" data-overlay="7">
    <div class="container">
        <div class="row z-5 align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <h1 class="f-700 blue">About us</h1>
                <span class="green-line bg-green d-none d-md-inline-block"></span>
            </div>
            <div class="col-md-4 text-center text-md-right">
            </div>
        </div>
    </div>
</section>

<section class="about-us pt-100 pb-100">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-lg-6">
                <div class="relative img-lined bg-blue mx-auto shadow-1">
                    <img src="{% static 'images/tachsol.png' %}" alt="" class="opacity-3 w-100">
                    <div class="blob green transform-center">
                        <a href="https://www.youtube.com/watch?v=qtQgbdmIO30" class="popup-video"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text mt-md-60 text-center text-lg-left">
                    <div class="fancy-head left-al  mb-10">
                        <h5 class="line-head mb-10">
                            <span class="line before d-lg-none"></span>
                                About Us
                            <span class="line  after"></span>
                        </h5>
                        <h1>Our Success Story</h1>
                    </div>
                    <p class="big-p blue">Commodo ullamcorper a lacus vestibulum sed massa tincidunt dui ut ornare lectus sit</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet quis felis eget consequat. Sed vitae tellus mattis, ornare elit vel, hendrerit erat. Integer commodo dui nec est blandit bibendum. Maecenas lectus lectus, rutrum vel laoreet id, cursus tempor metus. Nulla consectetur, risus in sollicitudin pulvinar.</p>
                    <div class="about-author mt-20 d-flex align-items-center justify-content-center justify-content-lg-start">
                        <div class="signature mr-45 mr-xs-15">
                            <img src="img/about/signature.png" alt="">
                        </div>
                        <div class="name-author">
                            <p class="name">Micheal Offei</p>
                            <p>Founder & CEO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mission-vision bg-light-white pt-100 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-50 pr-sm-150 mb-md-30">
                <h2 class="fancy-2 f-700 mb-25"> Our Mission</h2>
                <p class="f-500 blue fs-15">
                    Our mission is to provide high quality technical service across a wide 
                    spectrum of fields within and outside Ghana to Governments and non-governmental organizations 
                    by the use of both local and foreign experts within the shortest possible time through the 
                    application of participatory approaches, appropriate and low-cost technologies and methodologies.
                </p>
                <p>
                    The firm will also provide required linkages and coordination between and among key communities, 
                    local governments, national and international actors involved in development efforts.
                </p>
            </div>
            <div class="col-lg-6 pr-50 pr-sm-15">
                <h2 class="fancy-2 f-700 mb-25"> Our Vision</h2>
                <p class="f-500 blue fs-15">
                    Our methodology and interventions are designed to ensure that we deliver 
                    the results as specified in the terms of reference and clarified and confirmed in subsequent discussions with our clients.
                </p>
                <ul class="check-list-2">
                    <li>Ensuring outstanding organisational leadership </li>
                    <li>Creating value and meeting triple bottom line results (economy, ecology and equity) </li>
                    <li>Contributing to developing better customer services in Ghana </li>
                    <li>Finding, Assessing and Developing the best Interventions </li>
                    <li>Delivering a personalised service  </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="experience-cta pt-100 pb-100" style="background-image: url('img/bg/bg-2.jpg');" data-overlay="9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 z-5 text-center text-lg-left wow fadeIn">
                <div class="exp-cta pr-50 pr-lg-00">
                    <h1 class="white f-700 mb-10">
                        <span class="green">15 Years</span> of Experience in the <span class="blue">Industry</span>
                    </h1>
                    <p class="white mb-55 mb-md-30 pr-60 pr-md-00">Quisque enim ipsum, commodo et venenatis rutrum, luctus in enim. Quisque dapibus</p>
                    <a href="#" class="btn btn-square  blob-small">
                        Contact us <i class="fas fa-long-arrow-alt-right ml-20"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-30">
                <div class="team-green-head h-100 d-flex align-items-center pl-50 pr-50 pl-lg-30 pr-lg-30" style="background-image: url('img/bg/bg_hands.jpg');" data-overlay="9">
                    <div class="fancy-head left-al z-5 pt-md-30 pb-md-30">
                        <h5 class="line-head mb-10 white">Our team<span class="line after bg-white"></span></h5>
                        <h1 class="white mb-5">Meet Our Team</h1>
                        <p class="white mb-25">Pellentesque tempor ornare mal esuada. Mauris vel metus vel urna interdum</p>
                        <a href="#" class="btn btn-square-white">View all 
                            <i class="fas fa-long-arrow-alt-right ml-15"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30" >
                <div class="team-2-each relative bg-black shadow-3">
                    <a href="#"><img src="img/team/team1a.jpg" alt=""></a>
                    <div class="team-hover-div transition-4">
                        <h5 class="white f-700"><a href="#">Jessica David</a></h5>
                        <p class="green mb-0">Co Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30" >
                <div class="team-2-each relative bg-black shadow-3">
                    <a href="#"><img src="img/team/team2a.jpg" alt=""></a>
                    <div class="team-hover-div transition-4">
                        <h5 class="white f-700"><a href="#">Jhone Doe</a></h5>
                        <p class="green mb-0">Marketing Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30" >
                <div class="team-2-each relative bg-black shadow-3">
                    <a href="#"><img src="img/team/team4a.jpg" alt=""></a>
                    <div class="team-hover-div transition-4">
                        <h5 class="white f-700"><a href="#">Anjelina</a></h5>
                        <p class="green mb-0">Finance Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30 text-center" >
                <div class="career-box relative d-flex img-lined-after  shadow-3  align-items-center justify-content-center h-100" style="background-image: url('img/team/career.jpg');" data-overlay="9">
                    <div class="career-text z-5">
                        <h5 class="f-700 white mb-20">Want to Join Our Team?</h5>
                        <a href="#" class="btn btn-round-blue">CAREER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- cta area start -->
<section class="cta pt-50 pb-50" style="background-image: url"("{% static 'images/banner/tachsol.jpg' %}");" data-overlay="9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-5 mb-md-20 text-center text-lg-left">
                <h3 class="z-5 white f-700 lh-18 wow fadeInLeft">What type of challenge are you facing? 
          <a href="{% url 'mainapp:contact' %}"><span class="green italic">Let’s talk</span></a>
        </h3>
            </div>
            <div class="col-xl-8 col-lg-7 text-center text-lg-right z-5">
                <a href="#" class="btn btn-square-white mr-20 mr-xs-00 d-block d-sm-inline-block mb-xs-15 wow fadeInUp">
                    <i class="fas fa-envelope mr-15"></i>tachsol.kmo@gmail.com
                </a>
                <a href="tel:1234567890" class="btn btn-square-green d-block d-sm-inline-block blob-small wow fadeInUp">
                    <i class="fas fa-phone mr-15"></i>+1 234 567 890
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}