{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Public+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>

    <body>
        <div class="bodywrapper">
        <div class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light flex-fill fixed-top">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'mainapp:home' %}" style="margin-left: 0; color: white;">
                        <img src="{% static 'images/logo/logo.png' %}" width="70" height="70" class="d-inline-block" alt="">Tachsol
                    </a> 
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                                 
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav text-center text-lg-start custom-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mainapp:home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:service' %}">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:team' %}">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:portfolio' %}">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:client' %}">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:contact' %}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mainapp:mission' %}">Mission</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        

        <main class="main-container mt-5">
            {% block content %} {% endblock %}
        </main>

        <footer class="footer">
            <div class="wrapper">
                <div class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon youtube">
                    <span class="tooltip">Youtube</span>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </footer>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#carouselExampleCaptions').carousel();
            });
        </script>

    </body>

</html>