{% extends "mainapp/base.html" %}
{% block title %} clients {% endblock %}
{% block content %}

<section class="inner-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h1>Our Clients</h1>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="partners pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">100+ Happy Clients</h2>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="client-container">
    <!-- Client List View -->
    <div id="client-list-view" class="row justify-content-center">
        {% for client in clients %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="client-details" id="client">
                <img src="{{ client.image.url }}" alt="" class="img-fluid">
                <h1>{{ client.name }}</h1>
                <p><strong>Sector of Work:</strong> {{ client.sector_of_work }}</p>
                <p><strong>Location:</strong> {{ client.location }}</p>
                <p><strong>Description:</strong> {{ client.description }}</p>
                <p><strong>Contact:</strong> {{ client.contact }}</p>
                <p><strong>Website:</strong> <a href="{{ client.website_link }}">{{ client.website_link }}</a></p>
                <p><strong>Email:</strong> <a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}