{% extends "mainapp/base.html" %}
{% block title %} clients {% endblock %}
{% block content %}

<section class="inner-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h1>Our Clients</h1>
            </div>
        </div>
    </div>
</section>

<section class="partners pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fancy-head text-center relative z-5 mb-45 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <h1 class=""><span class="green counter">100</span>+ Happy Clients</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h2 class="text-center mb-4">Our Clients</h2>

    <!-- Loop through clients and display their information -->
    {% for client in clients %}
    <div class="card client-card">
        <img src="{{ client.clients_image.url }}" alt="{{ client.clients_name }}" class="card-img-top client-image">
        <div class="card-body">
            <h5 class="card-title">{{ client.clients_name }}</h5>
            <p class="card-text"><strong>Location:</strong> {{ client.location }}</p>
            <p class="card-text"><strong>Description:</strong> {{ client.description }}</p>
            <p class="card-text"><strong>Contact:</strong> {{ client.client_contact }}</p>
            <p class="card-text"><strong>Website:</strong> <a href="{{ client.url_link }}" target="_blank">{{ client.url_link }}</a></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}