{% extends "mainapp/base.html" %}
{% block title %} contact {% endblock %}
{% block content %}
{% load static %}

<main>
    <section class="inner-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact-options pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-4">Contact Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="contact-item">
                        <div class="icon-content">
                            <i class="fa fa-phone blue"></i>
                            <h5 class="f-700 mb-2">Phone</h5>
                        </div>
                        <p>+233 277537137</p>
                        <p>+233 266517719</p>
                        <p>+233 244446622</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="contact-item">
                        <div class="icon-content">
                            <i class="far fa-envelope blue"></i>
                            <h5 class="f-700 mb-2">Email</h5>
                        </div>
                        <p>tachsol.kmo@gmail.com</p>
                        <p>support@tachsol.com</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-item">
                        <div class="icon-content">
                            <i class="fas fa-map-marker-alt blue"></i>
                            <h5 class="f-700 mb-2">Address</h5>
                        </div>
                        <p>Tachsol Consult LTD Weija</p>
                        <p>Accra</p>
                        <p>Ghana</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="social-media-area">
        <div class="container social-media">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="mb-4"> Follow us</h2>
                </div>
            </div>
            <div id="content4">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
              </div>
        </div>
    </div>
    
    <section class="callback-area pt-5 pb-5">
        <div class="container callback-content">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="mb-4">Request a Call Back</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form action="#" class="mt-4">
                            <div class="form-group">
                                <input type="text" class="form-control shadow-sm" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control shadow-sm" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control shadow-sm" id="phone" placeholder="Phone number">
                            </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact-form bg-light pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-3">Send us a message</h2>
                    <p>We are always ready to assist you</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8 col-md-4 offset-md-2">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" placeholder="Your Phone Number">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="5" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}