{% extends "mainapp/base.html "%}
{% block title %} Portfolio {% endblock %}
{% block content %}
{% load static %}

<section class="inner-banner pt-80 pb-95" style="background-image: url('img/banner/inner-banner.jpg');" data-overlay="5">
    <div class="container">
        <div class="row z-5 align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <h1 class="f-700 blue" style="text-align: center;">Portfolios</h1>
                <span class="green-line bg-green d-none d-md-inline-block"></span>
            </div>
        </div>
    </div>
</section>

{% endblock %}