{% extends "mainapp/base.html" %}
{% block title %} Services {% endblock %}
{% block content %}
{% load static %}

<main>
    <section class="inner-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container custom-container">
        <div class="row">
            {% for scope in scopes %}
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                <ol class="list-group">
                    <li class="list-group-item custom-list-item">
                        <div class="scope-container">
                            <h4>{{ forloop.counter }}. {{ scope.name }}</h4>
                            <div class="row">
                                {% for service in scope.services.all %}
                                <div class="col-lg-12">
                                    <div class="service-item">
                                        <h6>{{ forloop.counter }}. {{ service.activity }}</h6>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            {% endfor %}
        </div>
    </div>
    
   
</main>

{% endblock %}