{% extends "mainapp/base.html" %}
{% block title %} Services {% endblock %}
{% block content %}
{% load static %}

 <main>
<div class="container mt-5">
    <h2 class="mb-4">Our Services</h2>

    <div class="row">
        {% for service in services %}
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</main>

{% endblock %}