{% extends "mainapp/base.html" %}
{% block title %} Services {% endblock %}
{% block content %}
{% load static %}

 <main>
    <section class="inner-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        {% for service in services %}
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</main>

{% endblock %}